.venv/
01.warm-up/.venv/
01.warm-up/*.p
01.warm-up/*.png
02.dataset/yolov5/
02.dataset/cup/
02.dataset/.venv/
02.dataset/__pycache__/
03.generic/.venv/
03.generic/*/__pycache__/
03.generic/*/dataset/
03.generic/*/dataset-*.tar
03.generic/*/*.pkl
03.generic/*/*.png
03.generic/*/*.csv
03.generic/*/*_results.txt
0*pytorch*/.venv/
0*pytorch*/__pycache__/
0*pytorch*/dataset/
0*pytorch*/dataset-*.tar
0*pytorch*/*.pkl
0*pytorch*/*.png
0*pytorch*/*.csv
0*pytorch*/*.pt
0*pytorch*/*.pth
0*pytorch*/*_results.txt
z_temp/dataset/
